/* .img-bg {
    width: 800px;
    height: 600px;
    background-color: #0008ff2e;
    border: 1px solid #ccc;
    padding: 5px 0 15px;
} */

.img-bg {
    width: 800px;
    height: 600px;
    background-image: url('../images/profile-bg.jpg');
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.img-bg img {
    display: block;
    margin: auto;
    max-width: 100%;
}